#bg-light {
    color: rgb(193, 190, 190);
}

nav {
    background-color: #333;
    overflow: hidden;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

nav ul li {
    float: right;
    }

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

nav ul li a:hover {
    background-color: #11b0be;
    border-radius: 10px;
    border: 1px solid hwb(206 4% 0%)
    }

nav form {
    display: inline-block;
    margin: 0;
    padding: 0;
    }

nav input[type="text"] {
    padding: 5px;
    width: 350px;
    border: none;
    border-radius: 5px;
    margin-top: 8px;
    }
  
nav button[type="submit"] {
    padding: 5px 10px;
    background-color: #08aadb;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 8px;
    margin-left: 5px;
    cursor: pointer;
    }
  
nav button[type="submit"]:hover {
    background-color: #0094de;
    }
  
.item {
    width: 1000px;
    padding: 50px;
    margin-left: 10px
}

a:link {
    text-decoration: none;
}

a:hover {
    color: rgb(7, 35, 134);
}

.block {
    background-color: aqua;
}

.item {
    width: 100px;
}

.zoom-img{
    transition: transform 0.5s ease;
}
  
.zoom-img:hover{
    transform: scale(1.2);
}

@import url('https://fonts.googleapis.com/css?family=Numans');

.log_bd{
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container_log{
height: 100%;
align-content: center;
}

.card_log{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

/* for sign up */
@media (min-width: 1025px) {
.h-custom {
height: 150vh !important;
}
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}

.gradient-custom-2 {
/* fallback for old browsers */
background: #6f0021;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))
}

.bg-indigo {
background-color: #4835d4;
}
@media (min-width: 992px) {
.card-registration-2 .bg-indigo {
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
}
}
@media (max-width: 991px) {
.card-registration-2 .bg-indigo {
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}
}

.address{
    padding: 10px;
    width: 400;
}