{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet"
href="{%static '/css/style.css'%}">

<section class="h-100 h-custom gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5" style="color: #4835d4;">General Infomation</h3>
                    
                    <form action="{% url 'signup' %}" method="POST">
                        {% csrf_token %}

                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
  
                        <div class="form-outline">
                          <input type="text" id="form3Examplev2" name="firstname" class="form-control form-control-lg" required/>
                          <label class="form-label" for="form3Examplev2">First name</label>
                        </div>

                        <div class="form-outline">
                            <input type="text" id="form3Examplev2" name="username" class="form-control form-control-lg" required/>
                            <label class="form-label" for="form3Examplev2">User name</label>
                          </div>
  
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
  
                        <div class="form-outline">
                          <input type="text" id="form3Examplev3" name="lastname" class="form-control form-control-lg" required/>
                          <label class="form-label" for="form3Examplev3">Last name</label>
                        </div>

                        <div class="form-outline">
                            <input type="date" id="form3Examplev2" name="dob" class="form-control form-control-lg" required/>
                            <label class="form-label" for="form3Examplev2">Date of Birth</label>
                          </div>
  
                      </div>
                    </div>
  
                    <div class="mb-4 pb-2">
                      <select class="select" name="gender" required>
                        <option value="Gender">Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                      </select>
                    </div>

  
                  </div>
                </div>
                <div class="col-lg-6 bg-indigo text-white">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5">Contact Details</h3>
  
                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="number" id="form3Examplea2" name="phonenumber" class="form-control form-control-lg" required/>
                        <label class="form-label" for="form3Examplea2">Phone Number</label>
                      </div>
                    </div>
  
                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="number" id="form3Examplea3" name="altnumber" class="form-control form-control-lg" required/>
                        <label class="form-label" for="form3Examplea3">Alternate Phone Number</label>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-5 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                          <input type="number" id="form3Examplea4" name="pin" class="form-control form-control-lg" required/>
                          <label class="form-label" for="form3Examplea4">PIN Code</label>
                        </div>
  
                      </div>
                      <div class="col-md-7 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                          <input type="text" id="form3Examplea5" name="place" class="form-control form-control-lg" required/>
                          <label class="form-label" for="form3Examplea5">Place</label>
                        </div>
  
                      </div>
                    </div>
  
                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" id="form3Examplea6" name="country" class="form-control form-control-lg" required/>
                        <label class="form-label" for="form3Examplea6">Country</label>
                      </div>
                    </div>
  
                    <div class="row">
    
                      <div class="col-md-7 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                            <label for="exampleFormControlTextarea1" class="form-label">Address</label>
                            <textarea class="address form-control" id="exampleFormControlTextarea1" name="address" rows="3" required></textarea>
                        </div><br>
  
                      </div>
                    </div>
  
                    <div class="mb-4">
                      <div class="form-outline form-white">
                        <input type="email" id="form3Examplea9" name="email" class="form-control form-control-lg" required/>
                        <label class="form-label" for="form3Examplea9">Your Email</label>
                      </div>
                    </div>
  
                    <div class="form-check d-flex justify-content-start mb-4 pb-3">
                      <input class="form-check-input me-3" type="checkbox" value="" id="form2Example3c" required/>
                      <label class="form-check-label text-white" for="form2Example3">
                        I do accept the <a href="#!" class="text-white"><u>Terms and Conditions</u></a> of your
                        site.
                      </label>
                    </div>
  
                    <button type="submit" class="btn btn-light btn-lg"
                      data-mdb-ripple-color="dark">Register</button>
                </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>